<!DOCTYPE html>
<html>
  <head>
      <title>To Do App</title>
  </head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>To Do List</h2>

<form action="/submit" method="post">
      <div>
        <label for="task">Task:</label>
        <input type="text" id=task name="task">
      </div>
      <br>
      <div>
       <label for="email">Email:</label>
       <input type="email" id="email" name="email">
      </div>
      <br>
      <div>
        <label for="priority">Priority:</label>
        <select id="priority" name="priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <br>
      <div>
        <input type="submit" value="Add To Do Item">
      </div>
</form>
<form action="/clear" method="post">
    <input type="submit" value="Clear">
</form>
<br>
<table style="width:50%">
  <tr>
    <th>Task</th>
    <th>Email</th>
    <th>Priority</th>
  </tr>
  {% for item in todo_list %}
    <tr>
        {% for cell in item %}
            <td>{{ cell }}</td>
        {% endfor %}
    </tr>
  {% endfor %}
</table>
</body>
</html>
